<!doctype html>
<title>Greenfield Test Management</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Greenfield</h1>
  <div class=metanav>
    <a href="{{ url_for('show_runs') }}">Test Runs</a>
    <a href="{{ url_for('show_suites') }}">Test Suites</a>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">logout</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
	
