{% extends "layout.html" %}
{% block body %}				
<div class="container">
  <div class="row">					
    <form class="form-signin" action="{{ url_for('login') }}" method=post>
      <h2 class"form-signin-heading">Sign in</h2>					
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <button class="btn btn-large btn-primary" type="submit" name="login">Sing in</button>
    </form>
  </div>
</div>
{% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}<div>
{% endif %}
 
{% endblock %}
