{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class"="row">
    <div class="col-md-10">
      <table class="table">
         <tr>
           <th>Run name</th>
           <th>Created date</th>
           <th>Summary</th>
	   {% if session.logged_in %}
	   <th>Delete run</th>
  	   {% endif %}
         </tr>
         {% for run in runs %}
         <tr>
          <td><a href={{url_for('show_run', run_id=run.id)}}>{{ run.title }}</a></td>
          <td>{{ run.created }}</td>
          <td class="col-md-4">
     	    <div class="progress">
             <div class="progress-bar progress-bar-success" style="width:{{ get_results(run.id)['PASSED'] }}%">
               <span class="sr-only"></span>
             </div>
             <div class="progress-bar progress-bar-info" style="width:{{ get_results(run.id)['BLOCKED'] }}%">
               <span class="sr-only"></span>
             </div>        
             <div class="progress-bar progress-bar-danger" style="width:{{ get_results(run.id)['FAILED'] }}%">
               <span class="sr-only"></span>
             </div>
           </div>
         </td>
{% if session.logged_in %}
<td>
<form action="{{ url_for('delete_run') }}" method=post>
  <input type=hidden value="{{ run.id }}" name="run_id"></input>
  <button type="submit" class="btn btn-danger">Delete run</button>
</form>
</td>
{% endif %}

  {% else %}
</tr>
    </table>
      <div class="alert alert-info" role="alert"> Unbelievable.  No test runs here so far</div>
  {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
