{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row>
     <div class="col-md-10">
       <table class="table">
         <tr>
           <th>Test Case</th>
           {% if session.logged_in %}
           <th>Delete</th>
		   {% endif %}
         </tr>
         {% for case in cases %}
         <tr>
          <td>{{case.title}}</td>
          {% if session.logged_in %}
          <td>
            <form action="{{ url_for('delete_case') }}" method=post>
			<input type=hidden value="{{ case.id }}" name="tc_id"></input>
			<input type=hidden value="{{ case.suite.id }}" name="ts_id"></input>
			<button type=submit class="btn btn-danger">Delete</button>
            </form>
          </td>
         </tr>
         {% endif %}
      {% else %}
      </table>
    <div class="alert alert-info" role="alert">Unbelievable.  No test cases here so far</div>
  {% endfor %}
      </table>
    </div>
     {% if session.logged_in %}
    <br />     
 <form action="{{ url_for('add_case') }}"  method=post class="form-inline">
<div class="form-group col-lg-6">
      <div class="input-group">
             <input type="text" class="form-control" name="title" placeholder="Test case title">
             <span class="input-group-btn">
               <button type="submit" class="btn btn-secondary">Add</button>
             </span>
             <input type=hidden value="{{ ts_id }}" name="ts_id"></input> 
       </div>
     </div>
</div>
    {% endif %}
  </div>
</div>
{% endblock %}
