{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
 <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h3>Test Runs</h3>
    </div>
  </div>
{% if runs|length > 0 %}
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8">
      <table class="table">
         <tr>
           <th>Run name</th>
           <th>Created date</th>
           <th class="col-xs-6 col-sm-6">Summary</th>
	   {% if session.logged_in %}
	   <th class="text-right">Delete run</th>
  	   {% endif %}
         </tr>
         {% for run in runs %}
         <tr>
          <td><a href={{url_for('show_run', run_id=run.id)}}>{{ run.title }}</a></td>
          <td>{{ run.created }}</td>
          <td>
     	    <div class="progress">
             <div class="progress-bar progress-bar-success" style="width:{{ get_results(run.id)['PASSED'] }}%">
               <span class="sr-only"></span>
             </div>
             <div class="progress-bar progress-bar-warning" style="width:{{ get_results(run.id)['BLOCKED'] }}%">
               <span class="sr-only"></span>
             </div>        
             <div class="progress-bar progress-bar-danger" style="width:{{ get_results(run.id)['FAILED'] }}%">
               <span class="sr-only"></span>
             </div>
           </div>
         </td>
	{% if session.logged_in %}
<td>
<form action="{{ url_for('delete_run') }}" method=post>
  <input type=hidden value="{{ run.id }}" name="run_id"></input>
  <button type="submit" class="btn btn-danger pull-right">Delete run</button>
</form>
</td>
</tr>
	{% else %}
</tr>
	{% endif %}
{% endfor %}
    </table>
  </div>
</div>
{% else %}
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="alert alert-info" role="alert"> Unbelievable.  No test runs here so far</div>
    </div>
</div>
{% endif %}
{% if session.logged_in and (suites|length > 0) %}
<div class="row">
  <form action="{{ url_for('add_run') }}" method=post>
    <div class="col-lg-6 col-lg-offset-2">      
<div class="add-run input-group">
               <select class="form-control" name="ts_id">
               {% for suite in suites %}
                 <option value="{{ suite.id }}"}>{{ suite.title }}</option>
               {% endfor %}
              </select>
             <input type="text" class="form-control" name="title" placeholder="Test run title" required>
             <span class="input-group-btn">
               <button type="submit" class="btn btn-secondary">Create new</button>
             </span>
       </div>
</div>
</form>
</div>
    {% endif %}

</div>
{% endblock %}
