{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for e in executions %}
    <li><h2>{{ e.title }}</h2></li>
    <li><h4>{{ e.status }}</h4></li>
<form name="result" action="{{ url_for('update_result') }}" method="POST">   
 <select name="status" onchange="this.form.submit()">
  {% for status in statuses %}
      <option value="{{ status }}" {% if status==e.status %} selected="selected"{% endif %}>{{ status }}</option>
  {% endfor %}
</select>
<input type=hidden name="ex_id" value="{{ e.id }}"></input>
<input type=hidden name="run_id" value="{{ run_id }}"></input>
</form>
  {% else %}
    <li><em>Unbelievable.  No test cases in this run</em>
  {% endfor %}
  </ul>
{% endblock %}
