{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_suite') }}" method=post class=add-entry>
      <dl>
        <dt>Test Suite Title:
        <dd><input type=text size=30 name=title>
        <dd><input type=submit value="Add Suite">
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for suite in suites %}
    <li><h2><a href={{url_for('show_cases', ts_id=suite.id)}}>{{ suite.title }}</a></h2></li>
{% if session.logged_in %}
<form action="{{ url_for('delete_suite') }}" method=post>
<input type=hidden value="{{ suite.id }}" name="ts_id"></input>
<input type=submit value="x"></input>
</form>
<form action="{{ url_for('add_run', ts_id=suite.id) }}" method=post>
<input type=hidden name="title" value="{{ suite.title }}"></input>
<input type=submit value="add run"></input>
</form>

{% endif %}
  {% else %}
    <li><em>Unbelievable.  No test suites here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
